.header_landing_color{
  background-color: var(--theme-bg-color);
}
.background-lines {
  position: relative;
  background-image: url("dist/abstract-lines.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
}

.rel{
  position: relative;
}

.background-lines::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1d1d1dc7; /* Здесь задается цвет и прозрачность затемненного оверлея */
}

@media (min-width: 768px) {
  .background-lines::before {
    display: none;
  }
}

@media (max-width: 768px){
  .mobile-s36{
    font-size: 36px;
  }
}

.ptb-0{
  padding-top: 0px; padding-bottom: 0px;
}